@font-face {
    font-family: Caslon;
    src: url(ttf/Caslon-hun.ttf);
}

@font-face {
    font-family: Louis;
    src: url(ttf/Louis-George-Cafe.ttf);
}

:root {
    --color-theme-bg: #ececec;
    --color-theme-font: #6d5f59;
    --color-theme-font-light: #c6a597;
    --color-theme-pink: #e7beba;
    --color-theme-pink-gradient: #e7beba88;
    --color-value-light: #ebe9e9;
    --color-value-midlight: #ddd;
    --color-value-mid: #ccc;
    --color-value-middark: #333;
    --color-value-dark: #000;
    --selector: #973737;
}

::selection {
    background-color: var(--color-theme-pink);
    color: var(--color-theme-font);
}

::-moz-selection {
    background-color: var(--color-theme-pink);
    color: var(--color-theme-font);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 12px !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Caslon, Georgia, 'Times New Roman', Times, serif;
    background-color: var(--color-theme-bg);
    color: var(--color-theme-font)
}

section {
    margin: 0 20vw;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 0 20vw;
}

li a, .dropbtn {
  display: inline-block;
  text-align: center;
  padding: 20px 4px;
  text-decoration: none;
  color: whitesmoke;
}

li:hover a {
    color: #6a3f3f;
    transition: 0.3s;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header {
    height: 100vh;
    width: 100%;
    background: url(img/main/header.gif) no-repeat center top;
}

.headings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: end;
    margin: 10vh 2vw 0 2vw;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: #6a3f3f solid 1px;
}

.headings h2 {
    font-family: Louis;
    font-size: 18px;
}

.extend {
    text-align: center;
    color: var(--color-theme-font);
    font-size: 12px;
    font-family: Louis;
    font-weight: 500;
}

.category {
    text-align: right;
    font-weight: 700;
    font-family: Louis;
}

.wide-img {
    height: 100%;
}

.slim-img {
    width: 100%;
}

.gallery-4-pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 4vh 2vw;
}

.gallery-4-pic div {
    overflow: hidden;
    aspect-ratio: 9 / 16;
}

.gallery-9-pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 4vh 2vw;
}

.gallery-9-pic div {
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

footer p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    section {
        margin: 0 10vw;
    }
    ul {
        padding: 0 10vw;
    }
    .gallery-4-pic {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .gallery-9-pic {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .headings{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    section {
        margin: 0 0;
    }
    ul {
        padding: 0 10px;
        grid-template-columns: 1fr;
        justify-items: end;
    }
    .gallery-4-pic {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .gallery-9-pic {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .headings{
        grid-template-columns: 1fr;
    }
    .extend {
        text-align: left;
        padding-bottom: 20px;
    }
}